body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}

#lyrics {
    font-size: 40px;
    margin-top: 100px;
}

.char{
    display: inline-block;
    position: relative;
    animation: fall 0.25s ease-out;
}

@keyframes fall {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
