body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}

#lyrics {
    font-size: 32px;
    margin-top: 40px;
}

.pop {
    display: inline-block;
    animation: pop 0.08s ease-in-out;
}

@keyframes pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.char{
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}



@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.char {
    display: inline-block;
    animation: pop 0.2s ease;
}